 #root {
  margin: auto;
  text-align: center;
  width: 100%;
  font-family: 'Monteserrat', sans-serif;
}

.landing-page-bg{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url('assets/Taustakuva.webp') center/cover no-repeat;
background-size: cover;
background-position: center;
height: 100vh;
color: white;
position: relative;
}
.landing-page-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.navbar .navbar-nav .nav-link{
  color: white !important;
}
.navbar .navbar-nav .nav-link:hover {
  color: rgba(172, 172, 172, 0.7) !important; /* Hover-väri */
}



section {
  margin-bottom: 100px;
}




