 #root {
  margin: auto;
  text-align: center;
  width: 100%;
  font-family: 'Monteserrat', sans-serif;
}
.Header{
  margin-bottom: 3em;
}
        
.landing-page-bg{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url('assets/Taustakuva.webp') center/cover no-repeat;
background-size: cover;
background-position: center;
height: 100vh;
color: white;
position: relative;
margin-bottom: 5em;
}
.landing-page-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.food-section{
  background:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url('assets/sushi.webp') center/cover no-repeat;
  height: 75vh;
  margin-bottom: 9em;
}
.food-content-bg{
  background-color: rgba(243, 242, 242, 0.9);
  margin-bottom: 1em;
}
.Dest-page{
margin-top: 8em;
}
.navbar{

  background-color: #000000 !important;
}
.navbar .navbar-nav .nav-link{
  color: rgb(255, 255, 255) !important;
}

.navbar .navbar-nav .nav-link:hover {
  color: rgba(172, 172, 172, 0.7) !important; /* Hover-väri */

}

.tips-section{
  margin-top: 5em;
}
section{
  margin-bottom: 5em;
}

.sights-textbg{
  background-color: rgb(14, 14, 14,0.8);
}



